* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    font-family    : 'Prompt', sans-serif;
}

body {
    background: black;
}

h1 {
    text-transform: uppercase;
    color         : rgb(242, 245, 61);
    text-align    : center;
    margin        : 2rem 0;
}

a {
    color          : beige;
    display        : flex;
    justify-content: center;
    font-size      : 1.5rem;
    margin         : 1rem 0;
}

a:hover {
    color: coral;
}